@media (max-width: 1024px) {
    .nav .container {
        padding: 0;
    }

    .nav .nav_list {
        display: block;
    }

    .nav .nav_item {
        padding: 20px 35px;
    }

    #accordion_menu {
        margin: 0;
    }

    .nav .menu_list {
        background-color: #ffffff;
    }

    .nav .menu_item {
        border: none;
        border-bottom: 1px #E3E3E3 solid;
    }

    .ad_slider .container {
        padding: 0;
    }

    .ad_slider .ad_slider_inner {
        margin: 0;
    }

    .ad_slider .slider_item {
        flex-direction: column-reverse;
    }

    .ad_slider .slider_list {
        margin: 0;
    }

    .ad_slider .main_product img {
        height: 100%;
        max-width: 100%;
    }

    .ad_slider .more_products_list {
        display: none;
    }

    .ad_slider .title {
        font-size: 30px;
    }

    .ad_slider .description {
        font-size: 23px;
    }

    .features .feature_item {
        justify-content: center;
        flex-basis: 49%;
    }

    .offers_inner {
        flex-direction: column;
    }

    .offers .offer_main,
    .offers .offer_separated {
        width: 100%;
    }

    .offers .offer_back{
        background-size: 100% auto;
        padding-bottom: 200px;
    }

    .offers .offer_separated_list {
        height: 100%;
    }


    .special_offer .special_offers_list {
        flex-direction: column;
    }

    .special_offer .special_offer_item {
        flex-basis: 100%;
    }

    .special_offer .special_offer_cost_and_btn {
        flex-direction: column;
        align-items: start;
    }

    .our_products .our_products_list {
        justify-content: center;
    }

    .quotes .quotes_item {
        flex-basis: 100%;
    }

    .articles .articles_list {
        justify-content: center;
        flex-direction: column;
    }

    .articles .article_item {
        width: 70%;
    }

    .articles .article_title{
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 770px) {
    .header .laptop_version {
        display: none;
    }

    .header .mobile_version {
        display: block;
    }

    .header .mobile_version .find {
        border: none;
        background-color: #7ac751;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        transition: .3s ease;
    }

    .header .mobile_version .find:hover {
        transform: translate(-2px, -2px);
        box-shadow: 3px 3px 0 0 #55555530;
    }

    .header .mobile_version .find_container {
        display: none;
    }

    .header .mobile_version .find_container.active {
        display: flex;
    }

    .offers .offer_back{
        padding-bottom: 100px;
    }

    .quotes .title {
        font-size: 30px;
    }

    .quotes .quote_arrow_left,
    .quotes .quote_arrow_right {
        height: 40px;
        width: 40px;
        font-size: 30px;
    }

    .quotes .quote_content {
        width: 100%;
        font-size: 13px;
    }

    .quotes .quote_author {
        font-size: 20px;
    }

    .footer_nav .nav_list {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px){
    .header_top .header_top_inner {
        justify-content: center;
    }

    .header_top .header_top_left {
        display: none;
    }

    .header_top .account {
        justify-content: center;
    }

    .special_offer .special_offer_content  {
        width: 60%;
    }

    #about {
        width: 100%;
    }

    .footer_nav .nav_description {
        padding-right: 20px;
    }

    .footer  .footer_inner {
        flex-direction: column;
        align-items: start;
    }

    .articles .article_item {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .header .header_inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header .header_right.mobile_version {
        align-self: end;
    }

    .features .features_list {
        flex-direction: column;
    }

    .quotes .container {
        padding: 0;
    }

    .articles .article_info {
        flex-direction: column;
        align-items: start;
    }

    .articles .article_read_more_btn  {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .header_top .header_top_inner {
        display: block;
    }

    .header_top .header_top_right {
        display: block;
        text-align: center;
    }

    .header_top .divider {
        display: none;
    }

    .offers .offer_back{
        background-size: 100% 100%;
        padding-bottom: 20px;
    }

    .special_offer .special_offer_time {
        justify-content: start;
    }
}
